.contentRoot {
}

.inputLabel {
  // font-weight: 700 !important;
  font-size: 1.2em !important;
  letter-spacing: 0px !important;
  color: #000 !important;
}

.input {
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-bottom: 30px !important;
}