.root {
  margin-bottom: 30px;
  max-height: 60px;

  .headerIcon {
    cursor: pointer !important;
  }

  .contentRoot {
    display: flex;
    justify-content: space-between;
  }

  .addIcon {
    color: #FFF
  }
}