.rightContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.cardRoot {
  margin: 20px 0px;
  background-color: #FFFFFF !important;
}

.createCampaign {
  text-transform: none !important;
}